<main>
  <div class="section">
    <h5 class="title">My Schedule</h5>
    <div class="card ">
      <div class="card-content">
        <table class="centered highlight">
          <thead>
            <th>Time</th>
            <th>Day</th>
            <th>Teacher</th>
            <th>Status</th>
          </thead>
          <tbody>
            <tr *ngIf="!enrolledClasses">
              <td colspan="4">
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="empty-table" *ngIf="enrolledClasses && enrolledClasses.length === 0">
              <td colspan="4">
                No classes available
              </td>
            </tr>
            <tr *ngFor="let class of enrolledClasses; let i = index">
              <td>{{enrolledClasses[i].timeSlot}}</td>
              <td>{{enrolledClasses[i].day}}</td>
              <td>
                <a (click)="viewTeacher(class.teacher.username)">{{enrolledClasses[i].teacher.firstName + ' ' + enrolledClasses[i].teacher.lastName}}</a>
              </td>
              <td *ngIf="class.available">Open</td>
              <td *ngIf="!class.available">Enrolled</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
