<main>
  <div class="section">
    <h5 class="title">Available Materials</h5>
    <div class="card">
      <div class="card-content">
        <table class="centered highlight ">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col class="download-col">
          </colgroup>
          <thead>
            <th>Filename</th>
            <th>Author</th>
            <th>Modified Date</th>
            <th>File Size</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngIf="!files">
              <td colspan="5">
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="empty-table" *ngIf="files && files.length === 0">
              <td colspan="5">
                No materials available
              </td>
            </tr>
            <tr *ngFor="let file of files; let i = index">
              <td class="ellipsis" materialize="tooltip" [attr.data-tooltip]="file.displayName" data-position="right" data-delay="50">{{file.displayName}}</td>
              <td>{{file.author.firstName}} {{file.author.lastName}}</td>
              <td>{{file.uploadDate | date: 'MMM dd, yyyy h:mm:ss a z'}}</td>
              <td>{{uploadService.formatBytes(file.fileSize)}}</td>
              <td (click)="download(file.url, file.fileName)">
                <a class="btn-floating yellow darken-1 z-depth-0">
                  <i class="material-icons">file_download</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
