<div class="content">
  <img class="logo" src="assets/images/SpeakPRO.png">
  <div class="container">
    <div class="row" [formGroup]="form">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <div class="reset center" *ngIf="!resetConfirmation">
              <h5 class="center">Reset your Password</h5>
              <div class="input-field">
                <input id="login-password" type="password" placeholder="" formControlName="password">
                <label for="login-password">New Password</label>
                <div class="helper-text" *ngIf="errorMsg">{{errorMsg}}</div>
              </div>
              <button class="btn rounded z-depth-0" (click)="resetPassword(form.value.password)" [ngClass]="{'disabled': !form.valid}">
                Reset Password
              </button>
            </div>
            <div class="reset-confirmation center" *ngIf="resetConfirmation">
              <h5 class="center">Successful Password Reset</h5>
              <div class="center confirmation-details">You may now login with your new password.</div>
              <button class="btn rounded z-depth-0" (click)="goToHomepage()">
                Go back to homepage
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
