<!-- NAVBAR
<div class="navbar-fixed">
  <nav class="blue lighten-2">
    <div class="nav-wrapper container">
      <img class="logo" src="assets/images/SpeakPRO.png">
      <ul class="right hide-on-med-and-down">
        <li>
          <a>Teach With Us</a>
        </li>
        <li>
          <a>Learn With Us</a>
        </li>
        <li>
          <a>Testimonials</a>
        </li>
        <li>
          <a>About Us</a>
        </li>
        <li>
          <button data-target="login-box" class="btn modal-trigger yellow lighten-5 darken-1">Login</button>
        </li>
      </ul>
      <a href="#" data-target="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</div>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center white-text text-lighten-2">Global Teaching Career From Home</h1>
      <div class="row center">
        <h5 class="header col s12 light">Join the largest online English education platform</h5>
      </div>
      <div class="row center">
        <a href="#" id="get-started" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br>
      <br>

    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img [src]="fullImagePath + '/img1.png'" alt="Unsplashed background img 1">
  </div>
</div> -->



<div class="content">
  <img class="logo" src="assets/images/SpeakPRO.png">
  <div class="container">
    <div class="row" [formGroup]="form">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <div class="reset" *ngIf="!resetConfirmation">
              <h5 class="center">Reset your Password</h5>
              <div class="input-field">
                <input id="login-password" type="text" placeholder="" formControlName="password">
                <label for="login-password">New Password</label>
                <div class="helper-text" *ngIf="errorMsg">{{errorMsg}}</div>
              </div>
              <button class="btn waves-effect waves-light blue lighten-2" (click)="resetPassword(form.value.password)" [ngClass]="{'disabled': !form.valid}">
                Reset Password
              </button>
            </div>
            <div class="reset-confirmation" *ngIf="resetConfirmation">
              <h5 class="center">Successful Password Reset</h5>
              <div class="center confirmation-details">You may now login with your new password.</div>
              <button class="btn waves-effect waves-light blue lighten-2" (click)="goToHomepage()">
                Go back to homepage
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
