<main>
  <div class="section">
    <h5 class="title">
      My Materials

      <input type="file" id="inputFiles" multiple (change)="handleFileInput($event.target.files)" #fileInput>
      <label for="inputFiles" class="btn-floating yellow darken-1 z-depth-0" materialize="tooltip" data-position="top" data-delay="50" data-tooltip="Upload Files">
        <i class="material-icons">file_upload</i>
      </label>
    </h5>

    <div class="card">
      <div class="card-content">
        <table class="centered highlight ">
          <colgroup>
            <col class="filename-col">
            <col>
            <col>
            <col>
            <col class="download-col">
          </colgroup>
          <thead>
            <th>Filename</th>
            <th>Author</th>
            <th>Modified Date</th>
            <th>File Size</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngIf="!availableFiles">
              <td colspan="5">
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="empty-table" *ngIf="availableFiles && availableFiles.length === 0 && uploadQueue.length === 0">
              <td colspan="5">
                No materials available
              </td>
            </tr>

            <tr *ngFor="let item of uploadQueue; let i = index">
              <td class="ellipsis" materialize="tooltip" [attr.data-tooltip]="item.name" data-position="right" data-delay="50">{{item.name}}</td>
              <td>{{loggedUser.firstName}} {{loggedUser.lastName}}</td>
              <td>{{item.uploadDate | date: 'MMM dd, yyyy h:mm:ss a z'}}</td>
              <td>{{uploadService.formatBytes(item.size)}}</td>
              <td class="td-center" *ngIf="uploadQueueProgress[i] != 100">
                <round-progress [current]="uploadQueueProgress[i]" [max]="100" [radius]="20" [color]="'#64B5F6'" [clockwise]="false"></round-progress>
              </td>
              <td (click)="download(item.fileName)" *ngIf="uploadQueueProgress[i] == 100">
                <a class="btn-floating yellow darken-1">
                  <i class="material-icons">file_download</i>
                </a>
              </td>
            </tr>



            <tr *ngFor="let file of availableFiles; let i = index">
              <td class="ellipsis" materialize="tooltip" [attr.data-tooltip]="file.displayName" data-position="right" data-delay="50">{{file.displayName}}</td>
              <td>{{file.author.firstName}} {{file.author.lastName}}</td>
              <td>{{file.uploadDate | date: 'MMM dd, yyyy h:mm:ss a z'}}</td>
              <td>{{uploadService.formatBytes(file.fileSize)}}</td>
              <td (click)="download(file.fileName, file.displayName)">
                <a class="btn-floating yellow darken-1 z-depth-0" materialize="tooltip" data-position="top" data-delay="50" data-tooltip="Download File">
                  <i class="material-icons">file_download</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
