/** PAGE HEADER **/

.section .title {
  margin-top: 0px;
  margin-bottom: 15px;
}

/** CARD STYLES **/

.card-content {
  padding: 0px;
}

.word-wrap {
  padding: 0px 15px;
  text-align: left;
  word-wrap: break-word;
}
