main{
  min-height: max-content;
  padding-top: 20px;
  padding-bottom: 35px;
}

/** CARD STYLES **/

.card-content {
  padding: 0px;
}

.word-wrap {
  padding: 0px 15px;
  text-align: left;
  word-wrap: break-word;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filename-col {
  width: 20%;
}

.download-col{
  width: 10%;
}


#inputFiles{
  display: none;
}



.td-center{
  display: flex;
  justify-content: center;
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px 30px;
}
