/* .logo{
  height: 64px;
  padding: 0.5px 0px;
}

.modal{
  width: 45%;
}

.modal .row{
  margin-bottom: 0px;
}

.submit{
  background-color: #2196F3;
}

.forgot-password{
  margin-top: 15px;
}


a{
  cursor: pointer;
} */

#hero {
    min-height: 80vh;
    position: relative;
}

#hero .col.m6:not(.hero-text-container) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#hero object {
    height: 460px;
    padding: 0 30px;
}

#hero .col {
    min-height: 80vh;
}

#hero .hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-text {
    height: max-content;
}

#hero .hero-text h2 {
    font-family: 'Octarine', sans-serif;
    font-weight: bold;
    margin: 5px 0;
}

#hero .hero-text p {
    color: #939292;
    font-family: 'Octarine', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0;
    max-width: 480px;
}

#hero .btn-large {
    background-color: #2196F3;
    border-radius: 50px;
    font-family: 'Octarine', sans-serif;
    height: 48px;
    line-height: 48px;
    padding: 0 40px;
    text-transform: none;
}

#how-it-works {
    background-color: #f2f2f2;
    height: max-content;
    padding: 35px 0;
}

#how-it-works .row {
    margin: 0 5%;
}

#how-it-works h5 {
    font-family: 'Octarine', sans-serif;
    font-weight: 500;
    margin-top: 0px;
}

#how-it-works .step * {
    display: block;
    margin: auto;
    width: 250px;
}

#how-it-works .step object {
    height: 230px;
    padding: 20px 0;
}

#how-it-works .col:nth-child(2) .step object {
    padding: 30px 0px 10px 0;
}

#how-it-works .step span {
    font-family: 'Octarine', sans-serif;
    font-size: 17px;
}

#teach-speakpro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 35px 0;
}

#teach-speakpro .row {
    margin-bottom: 0;
}

#teach-speakpro h4 {
    font-family: 'Octarine', sans-serif;
    font-weight: 500;
    margin-top: 0px;
}

#teach-speakpro p {
    color: #939292;
    font-family: 'Octarine', sans-serif;
    font-size: 17px;
}

#teach-speakpro .btn-large {
    background-color: #F2D12F;
    border-radius: 50px;
    font-family: 'Octarine', sans-serif;
    height: 48px;
    line-height: 48px;
    padding: 0 40px;
    text-transform: none;
}

footer {
    background-color: #2196F3;
    padding: 35px 0;
}

footer .row {
    margin: 0 5%;
}

.footer-brand{
  color: white;
  font-family: 'Octarine', sans-serif;
}

.footer-menu{
  display: flex;
  justify-content: space-evenly;
}
.footer-menu a {
    color: white;
    font-family: 'Octarine', sans-serif;
    font-weight: bold;
}
