<!--NAVBAR-->
<div class="navbar">
  <nav class="z-depth-0">
    <div class="nav-wrapper">
      <img class="logo" src="assets/images/SpeakPRO.png">
      <ul class="right ">
        <li>
          <a class="modal-trigger btn-flat" data-target="login-box">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="hero">
    <div class="row">
      <div class="col m6 hide-on-small-only">
        <object type="image/svg+xml" data="assets/images/hero.svg">
          Your browser does not support SVG
        </object>
      </div>
      <div class="col m6 s12 hero-text-container">
        <div class="hero-text">
          <h2>Learn, Anywhere.</h2>
          <p>SpeakPro makes it easier for you to become fluent in English anywhere you are.</p>
          <div class="btn-large z-depth-0 modal-trigger" data-target="apply-student">Get started</div>
        </div>
      </div>
    </div>
  </div>





  <!-- How it Works  -->
  <div id="how-it-works">
    <div class="row">
      <div class="col s12 center">
        <h5>How it works</h5>
      </div>
    </div>
    <div class="row">
      <div class="col l4 m12 s12 center">
        <div class="step">
          <object type="image/svg+xml" data="assets/images/choose.svg">
            Your browser does not support SVG
          </object>
          <span>Choose the suitable classes for your schedule</span>
        </div>
      </div>
      <div class="col l4 m12 s12 center">
        <div class="step">
          <object type="image/svg+xml" data="assets/images/credit-card.svg">
            Your browser does not support SVG
          </object>
          <span>Pay for your classes through different payment methods</span>
        </div>
      </div>
      <div class="col l4 m12 s12 center">
        <div class="step">
          <object type="image/svg+xml" data="assets/images/skype.svg">
            Your browser does not support SVG
          </object>
          <span>Learn with your instructor using Skype</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing -->
  <div id="pricing">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="text-block">
          <h4>Become fluent easily without spending too much.</h4>
          <p>Each session is priced reasonably for the benefit of those who want to speak cannot afford to pay hefty fees.</p>
          <div class="btn-large z-depth-0 modal-trigger" data-target="apply-student">Sign Up Now</div>
        </div>
      </div>
      <div class="col l6 m6 s12">
        <table>
          <thead>
            <tr>
              <th>
                <div class="price">
                  <span class="currency">$</span>
                  <span class="value">6</span>
                </div>
                <div class="unit">per session</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1-hr speaking lesson
              </td>
            </tr>
            <tr>
              <td>
                Downloadable Materials
              </td>
            </tr>
            <tr>
              <td>
                Cancelable anytime
              </td>
            </tr>
            <tr>
              <td>
                * cancellations are non-refundable
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- People Loves SpeakPro -->
  <div id="testimonials">
    <div class="row">
      <div class="col s12 center">
        <h4>People Loves SpeakPro</h4>
        <p>Hear the success stories of our customers</p>
      </div>
    </div>
    <div class="row">
      <div class="col l6 m12 s12">
        <div class="card z-depth-0">
          <div class="card-content">
            <span class="card-title">“ SpeakPro helped me in enhancing my speaking skills, as well as, my self-confidence in having conversation with
              those who are already fluent in English ”</span>
            <div class="customer">
              <img src="assets/images/user.jpg" alt="">
              <div class="customer-details">
                <h6>Juan Dela Cruz</h6>
                <span>College Student • Philippines</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col l6 m12 s12">
        <div class="card z-depth-0">
          <div class="card-content">
            <span class="card-title">“ SpeakPro helped me in enhancing my speaking skills, as well as, my self-confidence in having conversation with
              those who are already fluent in English ”</span>
            <div class="customer">
              <img src="assets/images/user.jpg" alt="">
              <div class="customer-details">
                <h6>Juan Dela Cruz</h6>
                <span>College Student • Philippines</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Teach with SpeakPro -->
  <div id="teach-speakpro">
    <div class="row">
      <div class="col s12 center">
        <div class="text-block">
          <h4>Teach with SpeakPro</h4>
          <p>SpeakPro makes it easier for you to become fluent in English anywhere you are.</p>
          <div class="btn-large z-depth-0 modal-trigger" data-target="apply-teacher">Join SpeakPro</div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col m3 s4 footer-brand">
        &copy; 2018 SpeakPro
      </div>
      <div class="col offset-m6 m3 s8 footer-menu">
        <a>Email Us</a>
        <a>Facebook</a>
        <a>Twitter</a>
      </div>
    </div>
  </footer>



  <!-- Login Box -->
  <div id="login-box" class="modal" materialize="modal" [materializeActions]="loginModal" [materializeParams]="[{ endingTop: '25%'}]">
    <div class="modal-content">
      <h5 class="center">Login</h5>
      <div class="row">
        <form class="col s12" [formGroup]="loginForm" (submit)="login(loginForm.value)">
          <!-- Username & Password -->
          <div class="row">
            <div class="input-field col s12">
              <input id="login-username" type="text" formControlName="username">
              <label for="login-username">Username</label>
            </div>
            <div class="input-field col s12">
              <input id="login-password" type="password" formControlName="password">
              <label for="login-password">Password</label>
            </div>
            <div class="col s6 center offset-s3">
              <button type="submit" class="btn submit z-depth-0">
                Login
              </button>
            </div>
          </div>
          <div class="col s12 center forgot-password">
            <a (click)="forgotPassword()">Forgot password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Registration Form for Student -->
  <div id="apply-student" class="modal" materialize="modal" [materializeParams]="[{dismissible: false, endingTop: '20%'}]"
    [materializeActions]="studentModal">
    <div class="modal-content">
      <h5 class="center">Register as a Student</h5>
      <div class="row">
        <form class="col s12" [formGroup]="studentForm">
          <!-- First Name & Last Name -->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="first-name" type="text" formControlName="firstName" [ngClass]="{'invalid': studentForm.controls.firstName.dirty && studentForm.controls.firstName.errors}">
              <label for="first-name">First Name *</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="last-name" type="text" formControlName="lastName" [ngClass]="{'invalid': studentForm.controls.lastName.dirty && studentForm.controls.lastName.errors}">
              <label for="last-name">Last Name *</label>
            </div>
          </div>

          <!-- Username & Password -->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="username" type="text" formControlName="username" (input)="checkAvailability(studentForm)" [ngClass]="{'invalid': (studentForm.controls.username.dirty && studentForm.controls.username.errors) || available === false}">
              <label for="username">Username (minimum of 6 characters)</label>
              <div class="helper-text " *ngIf="available===false ">Username is already taken</div>
              <div class="checker-text " *ngIf="available===null && studentForm.controls.username.dirty && studentForm.controls.username.value.length> 5">
                <div>Checking availability</div>
                <div class="preloader-wrapper very small active">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6">
              <input id="password" type="password" formControlName="password" [ngClass]="{'invalid': studentForm.controls.password.dirty && studentForm.controls.password.errors}">
              <label for="password">Password (minimum of 8 characters)</label>
            </div>
          </div>

          <!-- Email & Skype ID -->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="email" type="text" formControlName="email" [ngClass]="{'invalid': studentForm.controls.email.dirty && studentForm.controls.email.errors}">
              <label for="email">Email Address *</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="skype-id" type="text" formControlName="skypeID" [ngClass]="{'invalid': studentForm.controls.skypeID.dirty && studentForm.controls.skypeID.errors}">
              <label for="skype-id">Skype ID *</label>
            </div>
          </div>

          <div class="row container">
            <div class="col s12 center">
              <button class="btn cancel modal-close z-depth-0" (click)="closeModal(studentForm, studentModal)">
                Cancel
              </button>
              <button class="btn submit z-depth-0" (click)="submitForm(studentForm, studentModal)" [disabled]="!studentForm.valid || available === null">
                Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Registration Form for Teacher -->
  <div id="apply-teacher" class="modal" materialize="modal" [materializeParams]="[{dismissible: false, endingTop: '20%'}]"
    [materializeActions]="teacherModal">
    <div class="modal-content">
      <h5 class="center">Register as a Teacher</h5>
      <div class="row">
        <form class="col s12" [formGroup]="teacherForm">
          <!-- First Name & Last Name -->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="teacher-first-name" type="text" formControlName="firstName" [ngClass]="{'invalid': teacherForm.controls.firstName.dirty && teacherForm.controls.firstName.errors}">
              <label for="teacher-first-name">First Name *</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="teacher-last-name" type="text" formControlName="lastName" [ngClass]="{'invalid': teacherForm.controls.lastName.dirty && teacherForm.controls.lastName.errors}">
              <label for="teacher-last-name">Last Name *</label>
            </div>
          </div>

          <!-- Username & Password -->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="teacher-username" type="text" formControlName="username" (input)="checkAvailability(teacherForm)" formControlName="username"
                [ngClass]="{'invalid': (teacherForm.controls.username.dirty && teacherForm.controls.username.errors) || available === false}">
              <label for=" teacher-username ">Username (minimum of 6 characters)</label>
              <div class="helper-text " *ngIf="available===false ">Username is already taken</div>
              <div class="checker-text " *ngIf="available===null && teacherForm.controls.username.dirty && teacherForm.controls.username.value.length> 5">
                <div>Checking availability</div>
                <div class="preloader-wrapper very small active">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6">
              <input id="teacher-password" type="password" formControlName="password" [ngClass]="{'invalid': teacherForm.controls.password.dirty && teacherForm.controls.password.errors}">
              <label for="teacher-password">Password (minimum of 8 characters)</label>
            </div>
          </div>

          <!-- Email & Skype ID -->
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="teacher-email" type="text" formControlName="email" [ngClass]="{'invalid': teacherForm.controls.email.dirty && teacherForm.controls.email.errors}">
              <label for="teacher-email">Email Address *</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="teacher-skype-id" type="text" formControlName="skypeID" [ngClass]="{'invalid': teacherForm.controls.skypeID.dirty && teacherForm.controls.skypeID.errors}">
              <label for="teacher-skype-id">Skype ID *</label>
            </div>
          </div>

          <div class="row container">
            <div class="col s12 center">
              <button class="btn cancel modal-close z-depth-0" (click)="closeModal(teacherForm, teacherModal)">
                Cancel
              </button>
              <button class="btn submit z-depth-0" (click)="submitForm(teacherForm, teacherModal)" [disabled]="!teacherForm.valid || available === null">
                Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
