<!--NAVBAR-->
<div class="navbar-fixed">
  <nav class="blue lighten-2">
    <div class="nav-wrapper container">
      <img class="logo" [src]="fullImagePath + '/SpeakPRO.png'">
      <ul class="right hide-on-med-and-down">
        <li>
          <a>Teach With Us</a>
        </li>
        <li>
          <a>Learn With Us</a>
        </li>
        <li>
          <a>Testimonials</a>
        </li>
        <li>
          <a>About Us</a>
        </li>
        <li>
          <button class="btn yellow lighten-5 darken-1">Login</button>
        </li>
      </ul>
      <a href="#" data-target="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</div>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center white-text text-lighten-2">Global Teaching Career From Home</h1>
      <div class="row center">
        <h5 class="header col s12 light">Join the largest online English education platform</h5>
      </div>
      <div class="row center">
        <a href="#" id="get-started" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br>
      <br>

    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img [src]="fullImagePath + '/img1.png'" alt="Unsplashed background img 1">
  </div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
            Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components
            and animations that provide more feedback to users. Additionally, a single underlying responsive system across
            all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are
            also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img [src]="fullImagePath + '/img2.jpg'" alt="Unsplashed background img 2">
  </div>
</div>

<!-- Teach With Us Banner -->
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3>
          <i class="mdi-content-send brown-text"></i>
        </h3>
        <h4>Teach With Us</h4>
        <p class="left-align light">Different people have different approaches to editing their websites. Not everybody wants to dig in the code to change
          a headline or an image. Not everybody is technical. Embrace that and choose your ways to manage your website content.</p>
        <a class="waves-effect waves-light btn">Start Teaching</a>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img [src]="fullImagePath + '/img3.jpg'" alt="Unsplashed background img 3">
  </div>
</div>

<!-- Learn With Us Banner -->
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3>
          <i class="mdi-content-send brown-text"></i>
        </h3>
        <h4>Learn With Us</h4>
        <p class="left-align light">Different people have different approaches to editing their websites. Not everybody wants to dig in the code to change
          a headline or an image. Not everybody is technical. Embrace that and choose your ways to manage your website content.</p>
        <button data-target="apply-student" class="btn modal-trigger waves-effect waves-light">Start Learning</button>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
<script>
  $(document).ready(function () {
    $('.parallax').parallax();
  });
</script>


<div id="apply-student" class="modal" materialize="modal">
  <div class="modal-content">
    <h5 class="center">Register as a Student</h5>
    <div class="row">
      <form class="col s12">
        <!-- First Name & Last Name -->
        <div class="row">
          <div class="input-field col s6">
            <input id="first-name" type="text">
            <label for="first-name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last-name" type="text">
            <label for="last-name">Last Name</label>
          </div>
        </div>

        <!-- Username & Password -->
        <div class="row">
          <div class="input-field col s6">
            <input id="username" type="text">
            <label for="username">Username</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>

        <!-- Email & Skype ID -->
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="text">
            <label for="email">Email Address</label>
          </div>
          <div class="input-field col s6">
            <input id="skype-id" type="text" class="validate">
            <label for="skype-id">Skype ID</label>
          </div>
        </div>

        <div class="row container">
          <div class="col s12 center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Cancel
            </button>
            <button class="btn waves-effect waves-light" type="submit" name="action">Register
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal Structure -->
<!-- <div id="modal1" class="modal" materialize="modal">
  <form>
    <div class="modal-content container">
      <h4 class="center">Log-In</h4>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div> -->
