.logo{
  height: 64px;
  padding: 0.5px 0px;
}

.modal{
  width: 45%;
}

.modal .row{
  margin-bottom: 0px;
}

.submit{
  background-color: #2196F3;
}

.forgot-password{
  margin-top: 15px;
}


a{
  cursor: pointer;
}
