<div id="hero">
  <div class="row">
    <div class="col m6 hide-on-small-only">
      <object type="image/svg+xml" data="assets/images/hero.svg">
        Your browser does not support SVG
      </object>
    </div>
    <div class="col m6 s12 hero-text-container">
      <div class="hero-text">
        <h2>Learn, Anywhere.</h2>
        <p>SpeakPro makes it easier for you to become fluent in English anywhere you are.</p>
        <div class="btn-large z-depth-0">Get started</div>
      </div>
    </div>
  </div>
</div>
<div id="how-it-works">
  <div class="row">
    <div class="col s12 center">
      <h5>How it works</h5>
    </div>
  </div>
  <div class="row">
    <div class="col m4 s12 center">
      <div class="step">
        <object type="image/svg+xml" data="assets/images/choose.svg">
          Your browser does not support SVG
        </object>
        <span>Choose the suitable classes for your schedule</span>
      </div>
    </div>
    <div class="col m4 s12 center">
      <div class="step">
        <object type="image/svg+xml" data="assets/images/credit-card.svg">
          Your browser does not support SVG
        </object>
        <span>Pay for your classes through different payment methods</span>
      </div>
    </div>
    <div class="col m4 s12 center">
      <div class="step">
        <object type="image/svg+xml" data="assets/images/skype.svg">
          Your browser does not support SVG
        </object>
        <span>Learn with your instructor using Skype</span>
      </div>
    </div>
  </div>
</div>
