#application-form {
	 position: absolute; /* Sit on top of the page content */

  	top: 40%;
  	margin: 0 auto ;
  	margin-left: 15%;
  	width :75%;
   
    background-color: white;/* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#application-form > div {

  	top: 50%;
  	margin: 0 auto ;
   
    background-color: white;/* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}