.row:last-child {
    margin-bottom: 0px;
}

main {
    min-height: max-content;
    padding-top: 20px;
    padding-bottom: 35px;
}

.preloader-wrapper.very.small {
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

.checker-text {
    font-family: 'Octarine', sans-serif;
    display: flex;
    align-items: center;
}

.helper-text {
    font-family: 'Octarine', sans-serif;
    color: red;
}


.btn.cancel {
  background-color: black;
  border-radius: 50px;
  font-family: 'Octarine', sans-serif;
  height: 48px;
  line-height: 48px;
  padding: 0 40px;
  text-transform: none;
}

.btn.submit {
  background-color: #2196F3;
  border-radius: 50px;
  font-family: 'Octarine', sans-serif;
  height: 48px;
  line-height: 48px;
  padding: 0 40px;
  text-transform: none;
}
