th {
  text-align: center;
}

.submit-btn-container {
  margin-top: 20px;
}

.section {
  margin-bottom: 10px;
}

.section .title {
  margin-top: 0px;
}


table{
  width: 100%;
  table-layout: fixed;
}

.td-1{
  width: 10%;
}
