<!-- Modal Structure -->
<div id="event-modal" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Do you wish to enroll to this class?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat modal-close">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>
<main>
  <form [formGroup]="form" (submit)="submit(form.value)">
    <h5>Enrolled Classes</h5>
    <table class="centered striped highlight responsive-table">
      <thead>
        <th></th>
        <th>Timeslot</th>
        <th>Teacher</th>
      </thead>
      <tbody>
        <tr *ngFor="let class of enrolledClasses; let i = index">
          <td>
            &nbsp;
          </td>
          <td>{{class.timeSlot}}</td>
          <td>{{class.teacher.firstName + ' ' + class.teacher.lastName}}</td>
        </tr>
      </tbody>
    </table>

    <h5>Enrollable Classes</h5>
    <table class="centered striped highlight responsive-table">
      <thead>
        <th></th>
        <th>Timeslot</th>
        <th>Teacher</th>
      </thead>
      <tbody>
        <tr *ngFor="let class of availableClasses.controls; let i = index">
          <td>
            <input type="checkbox" id="{{i}}" [formControl]="class">
            <label for="{{i}}"></label>
          </td>
          <td>{{classes[i].timeSlot}}</td>
          <td>{{classes[i].teacher.firstName + ' ' + classes[i].teacher.lastName}}</td>
        </tr>
      </tbody>
    </table>



    <button type="submit">submit</button>
  </form>

  {{form.value | json}}

</main>
