<!-- Modal Structure -->
<div id="event-modal" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Do you wish to enroll to this class?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat modal-close">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>
<main>
  <form action="/action_page.php" method="get">
    <input type="checkbox" name="vehicle" value="Bike"> I have a bike
    <br>
    <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car
    <br>
    <input type="submit" value="Submit">
    <table>
      <thead>
        <td>Timeslot</td>
        <td>Teacher</td>
        <td>Action</td>
      </thead>

      <tbody>
        <tr *ngFor="let class of classes; let i = index">
          <td>
            {{class.timeSlot}}
          </td>

          <td>
            {{class.teacher.firstName + ' ' + class.teacher.lastName}}
          </td>
          <td>
            <input type="checkbox" id="{{i}}">
            <label for="{{i}}">{{class.available}}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <button (click)="sendArray()">CLICK ME</button>
</main>
