<header>
    <nav class="blue lighten-2" role="navigation">
      <div class="nav-wrapper container">

        <img id="logo-container" [src] = "fullImagePath + '/SpeakPRO.png'" href="#" class="brand-logo">
        <ul class="right hide-on-med-and-down">
          <li><a href="/registration">Teach With Us</a></li>
          <li><a href="#">Learn With Us</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">About Us</a></li>
          <!-- Modal Trigger -->
          <li> <!-- Modal Trigger -->
          <button data-target="modal1" class="btn modal-trigger yellow lighten-5 darken-1">Sign In</button></li>
          <li><a class="btn waves-effect waves-light yellow lighten-5 darken-1">Sign Up</a></li>

        </ul>
      <a href="#" data-target="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
      </div>
    </nav>
</header>