<nav>
  <!-- <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large">
    <i class="mdi-navigation-menu"></i>
  </a> -->
  <ul id="slide-out" class="side-nav fixed grey lighten-3">
    <li routerLinkActive="active">
      <a class="black-text" routerLink="/dashboard/edit-profile">Edit Profile</a>
    </li>
    <li routerLinkActive="active">
      <a class="black-text">My Schedule</a>
    </li>
    <li routerLinkActive="active">
      <a class="black-text" routerLink="/dashboard/add-classes">Add Classes</a>
    </li>
    <li routerLinkActive="active">
      <a class="black-text" routerLink="/dashboard/all-students">All Students</a>
    </li>
    <li routerLinkActive="active">
      <a class="black-text">Materials and Modules</a>
    </li>
  </ul>

  <!-- {{form.value | json}} -->
</nav>
