nav {
  height: 0px;
}
li a{
  font-family: 'Octarine', sans-serif;
  line-height: 50px;
}
li.active {
  background-color: #fdd835
}

.side-nav{
  top: 64px;
}

.side-nav > li > a > i.material-icons{
  margin-right: 10px;
}
