<main>
  <div class="section">
    <h5 class="title">All Students</h5>
    <div class="card">
      <div class="card-content">
        <table class="centered highlight ">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col class="td-1">
          </colgroup>
          <thead>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Skype ID</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngIf="!students">
              <td colspan="5">
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="empty-table" *ngIf="students && students.length === 0">
              <td colspan="5">
                No classes available
              </td>
            </tr>
            <tr *ngFor="let student of students">
              <td class="ellipsis" materialize="tooltip" data-position="right" data-delay="50" [attr.data-tooltip]="student.firstName + ' ' + student.lastName">{{student.firstName}} {{student.lastName}}</td>
              <td class="ellipsis" materialize="tooltip" data-position="right" data-delay="50" [attr.data-tooltip]="student.username">{{student.username}}</td>
              <td class="ellipsis" materialize="tooltip" data-position="right" data-delay="50" [attr.data-tooltip]="student.email">{{student.email}}</td>
              <td materialize="tooltip" data-position="left" data-delay="50" [attr.data-tooltip]="student.skypeID" [materializeParams]="[{margin: 1}]">{{student.skypeID}}</td>
              <td>
                <button class="btn-floating red lighten-1 z-depth-0" (click)="suspendUser(student._id)" *ngIf="student.active" materialize="tooltip"
                  data-position="top" data-delay="50" data-tooltip="Suspend Student">
                  <i class="material-icons">remove</i>
                </button>

                <button class="btn-floating red lighten-1 z-depth-0 disabled" *ngIf="!student.active" materialize="tooltip" data-position="top"
                  data-delay="50" data-tooltip="Suspended">
                  <i class="material-icons">remove</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
