<div class="navbar-fixed">
  <nav class="blue lighten-2 z-depth-0">
    <div class="nav-wrapper">
      <ul>
        <li>
          <a materialize="sideNav" [materializeParams]="[{edge:'left', preventScrolling: false, draggable: false}]" data-activates="slide-out"
            (click)="toggleSidebar()">
            <i class="material-icons">menu</i>
          </a>
        </li>
      </ul>
      <img class="logo" src="assets/images/SpeakPRO.png">
      <ul class="right">
        <li class="logged-user">{{greetings()}}</li>
        <li *ngIf="checkUserType()">
          <a routerLink="/dashboard/checkout">
            <i class="material-icons">shopping_cart</i>
          </a>
        </li>
        <li>
          <a materialize="dropdown" data-activates='navbar-dropdown'>
            <i class="material-icons">more_vert</i>
          </a>
          <ul id='navbar-dropdown' class='dropdown-content'>
            <li>
              <a routerLink="/dashboard/edit-profile">Edit Profile</a>
            </li>
            <li class="divider"></li>
            <li (click)="logout()">
              <a>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<app-sidebar> </app-sidebar>

<main class="dashboard-content container" [ngClass]="{'sidebar-toggled': showSidebar}">
  <router-outlet></router-outlet>
</main>
