<nav class="blue lighten-2 z-depth-0">
  <div class="nav-wrapper container">
    <img class="logo" src="assets/images/SpeakPRO.png">
    <ul class="right hide-on-med-and-down">
      <li>
        <a>{{greetings()}}</a>
      </li>
      <li>
        <a class="btn yellow lighten-5 darken-1" (click)="logout()">Logout</a>
      </li>
    </ul>
    <a href="#" data-target="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
<app-sidebar> </app-sidebar>

<main class="dashboard-content">
  <router-outlet></router-outlet>
</main>
