.logo {
    position: absolute;
    top: 35px;
    left: 45px;
    height: 100px;
}

.content {
    background: url('/assets/images/reset-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.forgot-password>h5 {
    margin-bottom: 2em;
}

.forgot-password input {
    margin-bottom: 15px !important;
}

.helper-text {
    color: red;
    margin-bottom: 15px !important;
}

.confirmation-details {
    margin-bottom: 10px !important;
    font-family: 'Octarine', sans-serif;
}

h5{
  font-family: 'Octarine', sans-serif;
  font-weight: 500;
}


.card{
  border-radius: 20px;
}
