<div class="content">
    <img class="logo" src="assets/images/SpeakPRO.png">
    <div class="container">
      <div class="row" [formGroup]="form">
        <div class="col s6 offset-s3">
          <div class="card">
            <div class="card-content">
              <div class="forgot-password center" *ngIf="!confirmation">
                <h5 class="center">Find your account</h5>
                <div class="input-field">
                  <input id="username" type="text" placeholder="" formControlName="username" [ngClass]="{'invalid': errorMsg}">
                  <label for="username">Enter username</label>
                  <div class="helper-text" *ngIf="errorMsg">{{errorMsg}}</div>
                </div>
                <button class="btn rounded z-depth-0" (click)="forgotPassword(form.value)" [ngClass]="{'disabled': !form.valid}">
                  Search
                </button>
              </div>
              <div class="forgot-password-confirmation center" *ngIf="confirmation">
                <h5 class="center">Check your email</h5>
                <div class="center confirmation-details">Kindly check your email for further instructions.</div>
                <button class="btn rounded z-depth-0" (click)="goToHomepage()">
                  Go back to homepage
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
