<!-- Modal Structure -->
<div id="event-modal" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Do you wish to enroll to this class?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat modal-close">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>

<main>
<div class = "row">
	<!-- <sideNav></sideNav> -->
	<div class = "container">
	<style>
		.active {
			background-color: red;
		}
	</style>
    <div>
      <div *ngFor="let product of products;let i=index"
            (click)="click($event)"
            [ngClass]="{active:i==selectedIndex}">  //<----[ngClass]

              {{i}}-{{product}}
      </div>
    </div>
		<table>
			<thead>
				<tr>
					<td></td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
				</tr>
			</thead>
			<tbody>
            <tr>
                <td class="s2"><h6>5:00 ~ 5:30</h6></td>

                <td data-target="event-modal" (click)= "cellClicked($event); click($event)" class="s2 cell modal-trigger" title="Add Class" dataValue =1></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>5:30 ~ 6:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr>
                <td class="s2"><h6>6:00 ~ 6:30</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>6:30 ~ 7:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr>
                <td class="s2"><h6>7:00 ~ 7:30</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>7:30 ~ 8:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr>
                <td class="s2"><h6>8:00 ~ 8:30</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>8:30 ~ 9:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr>
                <td class="s2"><h6>9:00 ~ 9:30</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>9:30 ~ 10:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr>
                <td class="s2"><h6>10:00 ~ 10:30</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>10:30 ~ 11:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr>
                <td class="s2"><h6>11:00 ~ 11:30</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>

            <tr> <!-- 1교시 -->
                <td class="s2"><h6>11:30 ~ 12:00</h6></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
                <td  class="s2 cell" title="Add Class"></td>
            </tr>



        </tbody>
		</table>
	</div>

<div>
	<div class="input-field col s12" materialize="material_select">
    <select>
      <option value="1">5:00 AM - 5:30 AM</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>

</div>
</div>
</main>
