/* You can add global styles to this file, and also import other style files */

#sidenav-overlay {
  display: none;
}

body {
  overflow: visible !important;
  width: auto !important;
}

/** TABLE STYLES **/

table {
  width: 100%;
  table-layout: fixed;
}

thead>th {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

tr:last-child {
  border-bottom: 0px;
}

.td-1 {
  width: 10%;
}
