/* You can add global styles to this file, and also import other style files */

#sidenav-overlay {
    display: none;
}

body {
    overflow: visible !important;
    width: auto !important;
}

/** TABLE STYLES **/

table {
    width: 100%;
    table-layout: fixed;
}

thead>th {
    text-align: center;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

tr:last-child {
    border-bottom: 0px;
}

.empty-table {
    height: 67px;
}

.td-1 {
    width: 10%;
}

input:focus {
    border-bottom: 1px solid #64B5F6 !important;
    -webkit-box-shadow: 0 1px 0 0 #64B5F6;
    box-shadow: 0 1px 0 0 #64B5F6;
}

input:focus + label {
  color: #64B5F6 !important;
}


input.invalid:focus {
  border-bottom: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
}

input.invalid + label {
color: red !important;
}

.indicator {
    background-color: #64B5F6 !important;
}
